html, body
{
	margin: 0px;
	min-width: 250px;
	/*min-height: 100px;*/
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #C1C3D1;
	background: white;
	animation: float 5s infinite;
}

th, header {
	background: steelblue;
	height: 54px;
	width: 100%;
	font-weight: bold;
	text-shadow: 0 1px 0 #38678f;
	color: white;
	border: 1px solid #C1C3D1;
	box-shadow: inset 0px 1px 2px #568ebd;
	transition: all 0.2s;
	font-size: 18px;
	text-align: center;
}

tr {
  border-bottom: 1px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
}
td:last-child {
  border-right: 0px;
}
td.selected {
  background: #d7e4ef;
  z-index: ;
}
td input {
  font-size: 14px;
  background: none;
  outline: none;
  border: 0;
  display: table-cell;
  height: 100%;
  width: 100%;
}
td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
::-moz-selection {
  background: steelblue;
  color: white;
}
::selection {
  background: steelblue;
  color: white;
}
/*table, td, th {
	border: 1px solid #000;
	border-collapse: collapse;
}*/

.status {
	padding:5px;
	border-radius:45px;
	display: inline-block;
	float: right;
	color: white;
	font-weight: bold;
	line-height: 100%;
	font-size: 10px;
	cursor: pointer;
}

.status_0 {
	background-color: #f00;
}

.status_1 {
	background-color: #9AD81B;
}

.status_-1 {
	background-color: #00f;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:hover td {
  background:#BDC0D2;
  font-weight: bold;
  /*color:#FFFFFF;*/
  /*border-top: 1px solid #6BDC0D2;
  border-bottom: 1px solid #BDC0D2;*/
}



/* if you remove this it'll break */ 
/*tr:nth-child(odd):hover td {
  background:#BDC0D2;
}*/

tr:hover .status_1 {
	background-color: #64C518;
}

h1 {
	font-size: 1em;
}

#reservation {
	background-color: #EFEFEF;
}

#reservation > form {
	width: 95%;
	margin: 0 auto;
}

#reservation label {
	font-weight: bold;
	font-size: 1.2em;
}

#reservation input[type=text], #reservation input[type=time], #reservation input[type=date], #reservation input[type=number], #reservation input[type=submit], #reservation input[type=cancel] {
	width: 100%;
	padding: 10px;
	border: none;
	transition: border 0.3s;
	box-sizing: border-box;
}

#reservation input[type=text], #reservation input[type=time], #reservation input[type=date], #reservation input[type=number] {
	border-bottom: 3px solid #c9c9c9;
}

#reservation input[type=submit], #reservation input[type=cancel] {
	background-color: #4040CF;
	border-bottom: 3px solid #3030BE;
	color: #FFF;
	font-weight: bold;
}

#reservation input:hover {
	background-color: #FDF7E5;
}

#reservation input[type=text]:focus, #reservation input[type=time]:focus, #reservation input[type=date]:focus, #reservation input[type=number]:focus {
	border-bottom: 3px solid #969696;
}

#reservation input[type=submit]:hover, #reservation input[type=cancel]:hover {
	background-color: #4040CF;
	border-bottom: 3px solid #3030BE;
}